/* set the base fonts, margins, and paddings */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* users can only adjust textareas vertically */
textarea {
  resize: vertical;
}

/* fixes the white space for all text */
.white-space {
  white-space: pre-line;
}

/* margin spacing adjustments for Making a New Post webpage */
#title, .input-group {
  margin-bottom: 20px;
}
.new-post {
  margin-top: 20px;
}
.new-post button {
  margin-right: 10px;
}

/* margin for Read More button on published posts */
.btn-space {
    margin-left: 10px;
}

/* margin spacing for sign out button */
.sign-out {
  margin-right: 15px;
}