body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.comment-box {
  border: black solid 1px;
}

textarea {
  resize: vertical;
}

.white-space {
  white-space: pre-line;
}

#title, .input-group{
  margin-bottom: 20px;
}
.form-group.send-message{
  margin-top: 20px;
}
.form-group.send-message button{
  margin-right: 10px;
}
